<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8" />
		<title>{% block titulo %}Tuiter{% endblock %}</title>
		{% load static from staticfiles %}
		<link rel = "stylesheet" type = "text/css" href = "{% static 'css/index.css' %}" />
		<script type = "text/javascript" src = "{% static 'js/jquery-2.0.3.js' %}"></script>
		<script type = "text/javascript" src = "{% static 'js/base.js' %}"></script>
	</head>
	<body>
		<div id = "barrita">
			{% if user %}
				{{ user.username }}
				<a href = "/usuario/logout/">Cerrar sesión</a>
			{% endif %}
		</div>
		<div id = "contenedor">
			<div id = "columna-contenido">
				{% block contenido %}{% endblock %}
			</div>
			<div id = "columna-navegacion">
			</div>
			<div class = "clearer"></div>
		</div>
	</body>
</html>
